[Desktop Entry]
Version=0.1.0
Name=Borshchevik Core
Comment=Connect to the Borshchevik P2P Network
Exec=borsh-qt %u
Terminal=false
Type=Application
Icon=borsh128
MimeType=x-scheme-handler/borsh;
Categories=Network;
StartupWMClass=Borsh-qt
Name[en_US]=borsh-qt
