[Desktop Entry]
Version=0.1.0
Name=Borshchevik Core Testnet
Comment=Connect to the Borshchevik P2P Network Testnet
Exec=qtum-qt -testnet %u
Terminal=false
Type=Application
Icon=qtumtestnet128
MimeType=x-scheme-handler/borsh;
Categories=Network;
StartupWMClass=Borsh-qt-testnet
Name[en_US]=borsh-qt-testnet
