# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.borsh
host=127.0.0.1

#mainnet default
port=9849

#testnet default
#port=9850

#regtest default
#port=9851

#signet default
#port=9852

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=c1eef0f9
genesis=0000e43e29b0b06927f0882fa9488bbbe77b83fb673c10e76532a448ddd51e8b
input=/home/example/.borsh/blocks

# testnet
#netmagic=d1e5f0e6
#genesis=0000b5cdd163fe8a4d65244deb5aced0b944fb05359e4108ef57a291738fc9fd
#input=/home/example/.borsh/testnet3/blocks

# regtest
#netmagic=3a2c2d29
#genesis=000083285439a6b8e03d38671af2296983e20ab93b8a8d8f73292d394b02e91e
#input=/home/example/.borsh/regtest/blocks

# signet
#netmagic=4c6f7665
#genesis=0000eb14ef8dd282ad36ab576c02a2a1b3916be7c81f4c5f76b49ac74eb779c8
#input=/home/example/.bitcoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
